@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.text-black {
   color: #344767 !important;
}

.label-black {
   padding: 4px 10px;
   background-color: #2c2c2c;
   border-radius: 30px;
   color: white !important;
}

.label-outline-black {
   padding: 4px 10px;
   background-color: #EEEEEE;
   border: 1px solid #2c2c2c;
   border-radius: 4px;
   color: #2c2c2c !important;
   font-weight: bold;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active .icon {
   background-color: rgb(55, 191, 196) !important;
   background-image: none;
}

.custom-card {
   width: fit-content;
   /* min-width: 200px; */
   padding: 10px 20px 10px 10px;
   background-image: linear-gradient(to right, #178b86, #20afc2, #20afc2, #178b86);
   background-position: left;
   background-size: 200%;
   border-radius: 8px;
   color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 600;
}

.label-id-orange {
   padding: 4px 12px;
   background-image: linear-gradient(to right, #b3901f, #f1c32e, #f1c32e, #b3901f);
   background-position: left;
   background-size: 200%;
   border-radius: 4px;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   font-weight: 700;
   text-align: center !important;
}